---
layout: child
title: Voxcorder
description: A simple web-based audio recorder.
head: |
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="loading.css"/>
    <script src="jquery.min.js"></script>
    <script src="acmp.js"></script>
    <script src="lame.min.js"></script>
    <script src="index.js"></script>
---

<h1 class="text-center display-1 record">
    <span class="cool-link record-button button">{% include icon.liquid name="mic" %}</span>
    <span class="cool-link play-button button" style="display:none;">{% include icon.liquid name="play_arrow" %}</span>
    <a download="vox.mp3" class="cool-link download-button button" style="display:none;">{% include icon.liquid name="download" %}</a>
    <div class="spinner" style="display:none;">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</h1>
<h2 class="text-center time"></h2>