.cool-link {
    color: #fff
}

.cool-link:hover {
    text-decoration: none;
    color: #aaa;
    cursor: pointer;
}

.header h3, .header h5 {
    margin-top: 5px;
    margin-bottom: 0;
}

.time {
    font-family: 'Jetbrains Mono', monospace;
}

